@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-Black.woff2");

  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/Gordita-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-SemiboldItalic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Black.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Super.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Light.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/Gordita-BoldItalic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/Gordita-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-Extralight.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./fonts/GraphikLCG-RegularItalic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Co Headline Corp Bold";
  src: url("https://db.onlinewebfonts.com/t/ca299f411a9611978dd6ad055a856c8f.eot");
  src: url("https://db.onlinewebfonts.com/t/ca299f411a9611978dd6ad055a856c8f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ca299f411a9611978dd6ad055a856c8f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ca299f411a9611978dd6ad055a856c8f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ca299f411a9611978dd6ad055a856c8f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ca299f411a9611978dd6ad055a856c8f.svg#Co Headline Corp Bold")
      format("svg");
}

:root {
  font-family: Gordita, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
